# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Logs
logs/
*.log

# Generated Output Files
output/

# VS Code
.vscode/

# IDE Files
.idea/

# System Files
.DS_Store

# Model Files
*.pkl
*.joblib